
*{
  padding : 0;
  margin : 0;
  }
 html{
  width:100%;
  height:100%;
 }
 

body{
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
}
header{
  width: 100%;
  text-align: right;
}
ul{
  list-style: none;
}
header li{
  display: inline;
  
}
